In [1]:
people = {
    "first": "Himraj",
    "last": "Das",
    "email": "himrajdas@gmail.com"
}

In [2]:
people = {
    "first": ["Himraj"],
    "last": ["Das"],
    "email": ["himrajdas@gmail.com"]
}

In [3]:
peoples = {
    "first": ["Himraj", "Alex", "Corey"],
    "last": ["Das", "Robinhood", "Schafer"],
    "email": ["himrajdas@gmail.com", "alexrob@gmail.com", "coreyschafer@gmail.com"]
}

In [4]:
peoples["email"]

['himrajdas@gmail.com', 'alexrob@gmail.com', 'coreyschafer@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(peoples)

In [8]:
df["email"]

0       himrajdas@gmail.com
1         alexrob@gmail.com
2    coreyschafer@gmail.com
Name: email, dtype: object

In [9]:
type(df["email"])

pandas.core.series.Series

In [10]:
df[["last", "email"]]

        last                   email
0        Das     himrajdas@gmail.com
1  Robinhood       alexrob@gmail.com
2    Schafer  coreyschafer@gmail.com

In [11]:
type(df[["last", "email"]])

pandas.core.frame.DataFrame

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df.iloc[0]

first                 Himraj
last                     Das
email    himrajdas@gmail.com
Name: 0, dtype: object

In [14]:
df.iloc[[0, 1]]

    first       last                email
0  Himraj        Das  himrajdas@gmail.com
1    Alex  Robinhood    alexrob@gmail.com

In [16]:
df.iloc[[0, 1], 2]

0    himrajdas@gmail.com
1      alexrob@gmail.com
Name: email, dtype: object

In [18]:
df

    first       last                   email
0  Himraj        Das     himrajdas@gmail.com
1    Alex  Robinhood       alexrob@gmail.com
2   Corey    Schafer  coreyschafer@gmail.com

In [19]:
df.loc[0]

first                 Himraj
last                     Das
email    himrajdas@gmail.com
Name: 0, dtype: object

In [22]:
df.loc[[0, 1], ["email", "last"]]

                 email       last
0  himrajdas@gmail.com        Das
1    alexrob@gmail.com  Robinhood